body{
    font-family: "Montserrat", sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
}
.sidebar{
    background-color: #000;
    width: 340px;
    border-radius: 1rem;   /* 16px */
    margin-right: 0.65rem;
}
.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: scroll;
    /* padding: 1rem; */
}
.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 85px;
}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    line-height: 2.5rem;
    
    font-size: 1rem;
}
.nav-option a{
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 1rem;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option {
    opacity: 0.75;
    padding: 0.75rem 0.6rem;
}
.nav-option:hover{
    opacity: 1;
}

.library{
    background-color: #121212;
    border-radius: 1rem;
    margin-top: 0.55rem;
    height: 100%;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}
.icons{
    margin-right: 1rem;
    display: flex;
}
.icons i{
    padding-right: 1rem;
    opacity: 0.7;
}
.icons i:hover{
    opacity: 1;
}
.box{
    background-color: #232323;
    margin: 1rem 0 0.5rem 0.5rem;
    padding: 1rem 0.85rem;
    height: 101px;
    width: 295px;
    border-radius: 0.75rem;
    line-height: 1.75rem;
}
.box-p1{
    font-weight: 500;
}
.box-p2{
    font-size: 14px;
    opacity: 0.75;
}
.badge{
    background-color: #fff;
    font-size: 1rem;
    font-weight: 550;
    height: 32px;
    border-radius: 50px;
    border: none;
    padding: 0.25rem 1rem;
    margin-top: 0.75rem;
}
.badge:hover{
    transform: scale(1.05);
}
.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 1rem 0 1rem; */
    z-index: 10;
}
.sticky-nav-icons{
    margin-left: 1rem;
    
}
.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item{
    margin-right: 2rem;
}
.icon{
    margin-top: 0.75rem;
}
.button{
    background-color: #000;
    color: #fff;
    font-weight: 700;
}
.button i{
    padding-right: 0.4rem;
} 
@media (max-width: 1000px){
    .hide{
        display: none;
    }
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
}
.card{
    background-color: #232323;
    width: 10rem;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
}
.card img{
    width: 100%;
    border-radius: 0.5rem;
}
.p1{
    font-size: 1rem;
    font-weight: 600;
}
.p2{
    font-size: 0.75rem;
    opacity: 0.8;
}
.footer{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    width: 90%;
    height: 20%;
    border-top: 1px solid white;
    opacity: 0.4;
}
.music-player{
    display: flex;
    justify-content: center;
    align-items: center;
}
.album{
    width: 25%;
}
.player{
    width: 50%;
}
.controls{
    width: 25%;
}
.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-controls-icon{
    width: 1rem;
    margin-right: 1.75rem;
    opacity: 0.75;
}
.player-controls-icon:hover{
    opacity: 1;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar{
    width: 70%;
    appearance: none;
    cursor: pointer;
    background-color: transparent;
}
.progress-bar::-webkit-slider-runnable-track{     /*website: https://www.quirksmode.org/blog/archives/2015/11/styling_and_scr.html */
    background-color: #dddd;
    border-radius: 100px;
    height: 0.2rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}
.album{
    display: flex;
    align-items: center;
}
.singer{
    display: flex;
    flex-direction: column;
}
.singer a{
    text-decoration: none;
    color: #fff;
}
.album img{
    height: 3.7rem;
    width: 3.5rem;
    border-radius: 0.3rem;
}
.album-in{
    margin-left: 1rem;
}
.a1{
    font-weight: 600;
    font-size: 0.9rem;
}
.a2{
    font-size: 0.75rem;
    opacity: 0.75;
}
.a1:hover{
    text-decoration: underline;
}
.a2:hover{
    opacity: 1;
    text-decoration: underline;
}
.liked{
    opacity: 0.75;
    font-size: 1rem;
}
.liked:hover{
    opacity: 1;
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
}
.controls-icon{
    font-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    padding: 0.5rem;
    opacity: 0.75;
}
.mute-bar{
    appearance: none;
    background-color: transparent;
}
.mute-bar::-webkit-slider-runnable-track{
    background-color: #dddd;
    border-radius: 100px;
    height: 0.2rem;
    cursor: pointer;
}
.mute-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}
